#login-form {
    max-width: 25rem; 
    margin: 3rem auto; 
    padding: 1.25rem; 
    background-color: #f9f9f9;
    border: 0.063rem solid #ddd; 
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); 
}

#login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem; 
    font-weight: 600;
    color: #333;
}

#login-form input[type="text"],
#login-form input[type="email"],
#login-form input[type="password"] {
    width: 95%;
    padding: 0.625rem; 
    margin-bottom: 0.938rem; 
    border: 0.063rem solid #ccc; 
    border-radius: 0.25rem; 
    font-size: 0.875rem;
}

#login-form input[type="text"]:focus,
#login-form input[type="password"]:focus {
    border-color: #003366;
    outline: none;
    box-shadow: 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

#login-form button {
    display: block;
    width: 100%;
    padding: 0.625rem 0.938rem; 
    background-color: #fff;
    color: #003366;
    border: 0.125rem solid #003366; 
    border-radius: 0.25rem; 
    font-size: 1rem; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-form button:hover {
    background-color: #003366;
    color: #fff;

}

#login-form a.button-outline {
    display: block;
    text-align: center;
    padding: 0.625rem 0.938rem; 
    margin-top: 0.625rem; 
    background-color: transparent;
    color: #003366;
    border: 0.125rem solid #003366; 
    border-radius: 0.25rem;
    font-size: 1rem;    
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

#login-form a.button-outline:hover {
    background-color: #003366;
    color: #fff;
}

#login-form label input[type="checkbox"] {
    margin-right: 0.313rem; 
}

#login-form label {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    font-size: 0.875rem; 
}

#login-form .error {
    color: #d9534f;
    font-size: 0.75rem; 
    margin-top: -0.625rem; 
    margin-bottom: 0.938rem; 
    display: block;
}

#login-form .success {
    color: #28a745;
    font-size: 0.875rem; 
    text-align: center;
    margin-top: 1.25rem;
}
