#register-form {
    max-width: 25rem;
    margin: 3rem auto;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border: 0.063rem solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

#register-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #333;
}

#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"] {
    width: 95%;
    padding: 0.625rem;
    margin-bottom: 1rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

#register-form input[type="text"]:focus,
#register-form input[type="email"]:focus,
#register-form input[type="password"]:focus {
    border-color: #003366;
    outline: none;
    box-shadow: 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

#register-form button {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: white;
    color: #003366;
    border: 0.125rem solid #003366;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#register-form button:hover {
    background-color: #003366;
    color: white;
}

#register-form a.button-outline {
    display: block;
    text-align: center;
    padding: 0.75rem 1rem;
    margin-top: 0.75rem;
    background-color: transparent;
    color: #003366;
    border: 0.125rem solid #003366;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

#register-form a.button-outline:hover {
    background-color: #003366;
    color: #fff;
}

#register-form .error {
    color: #d9534f;
    font-size: 0.75rem;
    margin-top: -0.625rem;
    margin-bottom: 1rem;
    display: block;
}

#register-form .success {
    color: #28a745;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1.25rem;
}
