/* Ações do Produto - Wishlist */
.product-actions-wishlist {
    display: flex;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    gap: 10px; /* Espaço entre os botões */
    margin-top: 15px;
    width: 100%;
}

/* Botões Gerais */
.wishlist-btn-danger,
.wishlist-btn-primary {
    flex: 1; /* Distribui o espaço igualmente entre os botões */
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-style: "Roboto", sans-serif;
}

/* Botão de Remover */
.wishlist-btn-danger {
    background-color: #c2200e; /* Vermelho para remover */
    color: #fff;
}

.wishlist-btn-danger:hover {
    background-color: #811c11;
    transform: scale(1.05);
}

/* Botão de Adicionar ao Carrinho */
.wishlist-btn-primary {
    background-color: #145e8f; /* Azul para adicionar ao carrinho */
    color: #fff;
}

.wishlist-btn-primary:hover {
    background-color: #163e58;
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 480px) {
    .product-actions-wishlist {
        flex-direction: column; /* Botões um abaixo do outro em telas pequenas */
        gap: 10px;
    }

    .wishlist-btn-danger,
    .wishlist-btn-primary {
        width: 100%;
    }
}
